{% extends 'base.html' %}

{% block 'title' %}Ver Equipamentos{% endblock %}

{% block 'content' %}

<div class="text-center">
  <img style="width: 3rem;" class="rounded" src="{{ esquadrao.logo.url }}">
</div>
{% for categoria in categorias %}
<h3>{{categoria}}</h3>
<table class="table table-sm">
    <thead>
      <tr class="bg-warning">
        <th scope="col">Nome</th>
        <th scope="col">Peso (Kg)</th>
        <th scope="col">Vol (m3)</th>
        <th scope="col">Qtd total</th>
        <th scope="col">Qtd pane</th>
        <th scope="col">Qtd aplicada</th>
        <th scope="col">Qtd disponível</th>
        <th scope="col">Observações</th>
        <th scope="col">Data de Atualização</th>
      </tr>
    </thead>
    {% for equipamento in equipamentos %}
    {% if categoria == equipamento.categoria %}
    <tbody>
      <tr>
        <th scope="row"><a href="{% url 'ver_equipamento' equipamento.id %}" class="badge badge-primary">{{equipamento.nome}}</a></th>
        <td>{{equipamento.peso}}</td>
        <td>{{equipamento.volume}}</td>
        <td>{{equipamento.qtd_total}}</td>
        <td>{{equipamento.qtd_pane}}</td>
        <td>{{equipamento.qtd_aplicada}}</td>
        <td>{{equipamento.qtd_disponivel}}</td>
        <td>{{equipamento.observacoes}}</td>
        <td>{{equipamento.data_atualizacao}}</td>
      </tr>
    </tbody>
    {% endif %}
    {% endfor %}
  </table>
  {% endfor %}

{% endblock %}