{% extends 'base.html' %}

{% block 'content' %}
{% load static %}

<div class="row">
    <div class="col-sm-4">
        <div class="card" style="width: 10rem;">
            <a href="#"><img src="{% static 'img/mestre.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card" style="width: 10rem;">
            <a href="#"><img src="{% static 'img/profeta.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card" style="width: 10rem;">
            <a href="#"><img src="{% static 'img/aranha.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-4">
        <div class="card" style="width: 10rem;">
            <a href="#"><img src="{% static 'img/morcego.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card" style="width: 10rem;">
            <a href="#"><img src="{% static 'img/mangrulho.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card" style="width: 10rem;">
            <a href="#"><img src="{% static 'img/zagal.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
            </div>
        </div>
    </div>
</div>


{% endblock %}